body   
{  
height: 125vh;  
margin-top: 80px;  
padding: 0px;  
background-size: cover;  
font-family: calibri;
font-size: 19px;  
}  
header {  
background-color: #e5383b;  
position: fixed;  
left: 0;  
right: 0;  
top: 5px;  
height: 30px;  
display: flex; 
flex-wrap: wrap; 
justify-content: center;
align-items: center;    
box-shadow: 0 0 40px 0 red;  
}  
header * {  
display: inline;  
}  
header li {  
margin: 50px;  
}  
header li a {  
color: white;  
text-decoration: underline; 
}  
header a:hover{
	background-color: yellow;
	color: green;
}


h2{
	color: #d3d3d3;
	font-family: Comic Sans;
	text-decoration: underline;
}

.box{
	width: 68%;
	height: 52%;
	background-color: #ae2012;
	padding-top: 40px;
	position: absolute;
	left: 32%;
}

.box2{
	width: 68%;
	height: 45%;
	background-color: #ae2012;
	padding-top: 40px;
	position: absolute;
	right: 32%;
}

p{
	font-family: Didot;
	font-size: 4;
	color: white;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  position: relative;
  right: 24%;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: relative;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 60%;
  text-align: center;
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  right: 35%;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.box3{
	width: 100%;
	height: 45%;
	background-color: #ae2012;
	padding-top: 40px;
	position: absolute;
}

h1{
	color: white;
	font-family: Comic Sans;
	text-decoration: underline;
}